sudo: required
dist: trusty
language: python

python:
  - "3.6"

install:
  # Display the Python version we are running now
  - python --version

  # Install additional requirements (Keras and Tensorflow CPU-Version)
  - pip install -r requirements.txt

  # List installed packages for debuggin purposes
  - pip list

script:
  - pytest --cov-report xml --cov --doctest-modules --ignore setup.py

after_success:
  - codecov