numpy==1.26.2
lxml==4.9.3
pytest==7.4.3
pytest-cov==4.1.0
scikit-image==0.22.0
scikit-learn==1.5.0
matplotlib==3.8.1
MIDIUtil==1.2.1
midi2audio==0.1.1

# Libraries to integrating code-coverage reporting
codecov==2.1.13
coverage==7.3.2
